<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular Google Places Search</title>
    <!-- ******************LINK SCRIPT FILES**************** -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_ykke8k-NmTkYRjQ-tTy0nuR33SAPPcU&libraries=places"></script>
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.0/angularfire.min.js"></script>
    <script src="app.js"></script>

    <!-- ******************LINK FIREBASE**************** -->

    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAtMrSakSaTXNdn-7_MamFHbfwzbjQ5_7c",
        authDomain: "hiddngems-4d196.firebaseapp.com",
        databaseURL: "https://hiddngems-4d196.firebaseio.com",
        storageBucket: "hiddngems-4d196.appspot.com",
      };
      firebase.initializeApp(config);
    </script>

    <!-- ******************LINK STYLE FILES**************** -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
    h3 img {
    max-height: 50px;
    }
    #map {
    height: 400px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid silver;
    }
    </style>

  </head>
  <body>
    <div class="container" ng-app="myApp" ng-controller="newPlaceCtrl">

      <form name="searchForm" novalidate
      ng-submit="search()">
          <div class="input-group">
              <input name="place" type="text" class="form-control"
              ng-model="searchPlace" required autofocus />

              <span class="input-group-btn">
                  <button class="btn btn-primary"
                  ng-disabled="searchForm.$invalid">Search</button>
              </span>

          </div>
      </form>

      <div id="map"></div>

      <form name="resForm" class="form-horizontal" novalidate
      ng-submit="send()">
          <div class="form-group">
              <label for="resName" class="col-xs-2 control-label">Name</label>
              <div class="col-xs-10">
                  <input name="resName" type="text" class="form-control"
                  ng-model="place.name" required />
              </div>
          </div>

          <div class="form-group">
              <label for="resAddress" class="col-xs-2 control-label">Address</label>
              <div class="col-xs-10">
                  <input name="resAddress" type="text" class="form-control"
                  ng-model="place.address" required />
              </div>
          </div>

          <div class="form-group">
              <label for="resLat" class="col-xs-2 control-label">Latitude</label>
              <div class="col-xs-10">
                  <input name="resLat" type="number" class="form-control"
                  ng-model="place.lat" required />
              </div>
          </div>

          <div class="form-group">
              <label for="resLng" class="col-xs-2 control-label">Longitude</label>
              <div class="col-xs-10">
                  <input name="resLng" type="number" class="form-control"
                  ng-model="place.lng" required />
              </div>
          </div>

          <div class="form-group">
              <div class="col-xs-offset-2 col-xs-10">
                  <button class="btn btn-success"
                  ng-disabled="resForm.$invalid">Confirm</button>
              </div>
          </div>

      </form>

    </div>
  </body>
</html>
